{% extends "adminBase.html" %} {% block content %}
<!-- End Top Search -->

<!-- Start All Title Box -->
<div class="all-title-box">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2></h2>
			</div>
		</div>
	</div>
</div>
<!-- End All Title Box -->

<!-- Start Contact Us  -->
<div class="contact-box-main">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-sm-12">
				<div class="contact-form-right">
					<h1>Welcome Back Admin...</h1>
				</div>
			</div>
			<div class="col-lg-4 col-sm-12"></div>
		</div>
	</div>
</div>
<!-- End Cart -->

<!-- Start Instagram Feed  -->
{% endblock %}
