{% extends "adminBase.html" %} {% block content %}
<style>
	.col-sm-6 {
		margin-bottom: 10px;
	}
</style>
<!-- End Top Search -->

<!-- Start All Title Box -->
<div class="all-title-box">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2>Staff Registration</h2>
			</div>
		</div>
	</div>
</div>
<!-- End All Title Box -->

<!-- Start Contact Us  -->
<div class="contact-box-main">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-sm-12">
				<div class="contact-form-right">
					<form method="post" class="contactForm">
						{% csrf_token %}
						<center>
							<div class="col-sm-6">
								<input
									type="text"
									name="fName"
									placeholder="First Name"
									class="form-control"
									required
								/>
							</div>
							<div class="col-sm-6">
								<input
									type="text"
									name="lName"
									placeholder="Last Name"
									class="form-control"
									required
								/>
							</div>
							<div class="col-sm-6 mt-sm-0 mt-4">
								<input
									type="email"
									name="email"
									placeholder="Email"
									class="form-control"
									required
								/>
							</div>
							<div class="col-sm-6">
								<input
									type="text"
									name="contact"
									placeholder="Contact"
									pattern="[0-9]{10}"
									class="form-control"
									required
								/>
							</div>
							<div class="col-sm-6">
								<input
									type="text"
									name="house"
									placeholder="House"
									class="form-control"
									required
								/>
							</div>
							<div class="col-sm-6">
								<input
									type="text"
									name="street"
									placeholder="Street"
									class="form-control"
									required
								/>
							</div>
							<div class="col-sm-6">
								<input
									type="text"
									name="district"
									placeholder="District"
									class="form-control"
									required
								/>
							</div>
							<div class="col-sm-6">
								<input
									type="text"
									name="pin"
									placeholder="Pincode"
									class="form-control"
									required
								/>
							</div>
							<div class="col-sm-6 mt-sm-0 mt-4">
								<input
									type="password"
									name="password"
									placeholder="Password"
									class="form-control"
									required
								/>
							</div>
							<input
								type="submit"
								class="btn hvr-hover mt-3"
								id="submit"
								value="Register"
							/>
						</center>
					</form>
				</div>
			</div>
			<div class="col-lg-4 col-sm-12"></div>
		</div>
	</div>
</div>
<!-- End Cart -->

<!-- Start Instagram Feed  -->
{% endblock %}
