{% extends 'staffbase.html' %} {% block content %}
<style>
	th,
	td {
		padding: 10px;
	}
</style>
<center>
	<div style="margin: 50px">
		<hr />
		<h3>Orders</h3>
		<hr />
		{% if data %}
		<table border="1" style="margin: 50px; width: 800px">
			<tr>
				<th>CUSTOMER</th>
				<th>PRODUCT</th>
				<th>QUANTITY</th>
				<th>RATE</th>
				<th>IMAGE</th>
				<th>STATUS</th>
			</tr>
			{% for d in data %}
			<tr>
				<td>{{d.4}}</td>
				<td>{{d.2}}</td>
				<td>{{d.5}}</td>
				<td>{{d.6}}</td>
				<td><img src="/static{{d.3}}" height="200px" width="200px" /></td>
				<td>{{d.1}}</td>
			</tr>
			{% endfor %}
		</table>
		{% else %}
		<h3>No Records</h3>
		{% endif %}
	</div>
</center>

<script>
	var msg = '{{msg}}';
	if (msg != '') {
		alert(msg);
		// location.href="/adminproduct";
	}
</script>
{% endblock %}
